.textPrincipal{
    font-size: clamp(13px, 5vw, 75px);
}
.textPequeño{
    font-size: clamp(13px, 1.2vw, 30px);
}
.textServicios{
    font-size: clamp(13px, 1.5vw, 36px);
}
.textNumero{
    font-size: clamp(20px, 4vw, 50px);
}

.textFeria{
    font-size: clamp(20px, 4vw, 50px);
}
.text-shado{
    text-shadow: 3px 3px 3px rgba(59, 59, 59, 0.7);
}
.feria{
      font-family: "Kanit", sans-serif;
}
.numero-fuente{
    font-family: "Kanit", sans-serif;
}
.shadoow{
    box-shadow: 4px 4px 5px rgba(59, 59, 59, 0.7);
}
.drop-shadoow{   
  filter: drop-shadow(1px 15px 10px rgba(0, 0, 0, 0.844));
}
